body, html {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

#content {
    margin-bottom: 50px;
}

#content #title {
    height: 50px;
    text-align: center;
    margin-top: 50px;
}

#content #title a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #1155cc;
}

#content #menu {
    text-align: center;
    padding-bottom: 25px;
}

#content #menu ul li {
    display: inline;
    padding-right: 15px;
    padding-left: 15px;
}

#content #menu ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #1155cc;
}

#content #body {
    width: 720px;
    margin: 0 auto;
}

#content #body {
    line-height: 30px;
}

#content #body h1 {
    font-size: 24px;
    padding-bottom: 15px;
    padding-top: 5px;
    font-weight: bold;
}

#content #body h1 a {
    text-decoration: none;
    color: #1155cc;
}

#content #body h2 {
    font-size: 14px;
    color: #999999;
}

#content #body .blog_body {
    padding-bottom: 25px;
}

#content #body .blog_border {
    height: 3px;
    width: 120px;
    border-bottom: 3px dashed #999999;
    margin-bottom: 15px;
}

#content #body .blog_body .code-box {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 16px;
    color: #ffffff;
    white-space: pre;
    background-color: #364968;
    padding: 10px;
    border-radius: 15px;
}
