body {
    background-color: #FFFFFF;
}

div#top {
    background-color: #2E4272;
    height: 10px;
}

div#title {
    background-color: #667599;
    height: 60px;
    font-size: 48px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 15px;
}

div#title a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: 400;
    color: #000B23;
}

div#menu {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: #C5C7CC;
    height: 30px;
    padding-top: 10px;
}

div#menu ul li {
    display: inline;
    padding-left: 20px;
}

div#menu ul li a {
    text-decoration: none;
    color: #000B23;   
}

div#body {
    padding-left: 20px;
    padding-top: 15px;
}

div.blog h1 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 5px;
}

div.blog h1 a {
    text-decoration: none;
    color: #000B23;
}

div.blog h2 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
}

div.blog div.blog_body {
    font-family: 'Inconsolata', sans-serif, monospace;
    font-size: 20px;
    padding-right: 40px;
}

div.blog div.blog_body p {
    padding-bottom: 20px;
}

div.blog div.blog_body div {
    margin-bottom: 20px;
}